{% extends "base.html" %}

{% block content %}

<div class="home-page-container page-content">
  
  <div class="section-intro">
    <h1>Sessions Types</h1>
    <p class="desc">Track your students progress</p>
  </div>

  <div class="main-sessions">
    <!-- <div class="session">
      <div class="header">
        <span class="title">1:1 Sessions</span>
        <span class="students">29<i class="fa-solid fa-user"></i></span>
      </div>
      <div class="cards">
        <div class="students-card session-card">
          <div class="card-title">Students</div>
          <div class="card-desc">You Have 29 Students At These Levels: (A+, C2, B2+)</div>
        </div>
        <div class="hours-card session-card">
          <div class="card-title">Hours</div>
          <div class="card-desc">you have worked 289 Hours in this Session type</div>
        </div>
      </div>
    </div> -->
  </div>
  
</div>

{% endblock %}