{% extends "base.html" %}

{% block content %}

<div class="level-page-container page-content">
  <div class="section-intro">
    <h1><span class="level-txt">A1</span> Sessions</h1> 
  </div>
  <div class="view-add-section card">
    <div class="section-current-role">view mode</div>
    <input class="session-title" type="text" placeholder="session number" readonly>
    <textarea class="session-content" placeholder="session content" readonly></textarea>
    <button class="add-session btn" onclick="add_lesson()"><i class="fa-solid fa-plus"></i>Add Session</button>
  </div>
  <div class="sessions-container">
    <div>session 1</div>
    <div>session 1</div>
    <div>session 1</div>
    <div>session 1</div>
    <div>session 1</div>
  </div>
</div>

{% endblock %}