{% extends "base.html" %}

{% block content %}

<div class="student-page-container page-content">
  <div class="section-intro">
    <div class="student-data">
      <div class="student-profile-img">
        A
      </div>
      <div class="student-info">
        <h1 class="student-name">Ahmed Yonis</h1>
        <div class="student-details">Level: <span class="student-level">A2</span> · Next lesson: <span class="student-next-lesson">7</span></div>
      </div>
    </div>
    <div class="start-session-part">
      <button class="start-lesson-btn btn"><i class="fa-solid fa-play"></i>Start Session</button>
      <div class="start-msg">session in progress</div>
    </div>
  </div>
  <div class="line"></div>
  <div class="sections-container">

  </div>
</div>

{% endblock %}